.multilineEllipsis {
  margin: 0;
  min-height: max-content;
  display: inline-block;
  width: 100%;
  
  &.overflow {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
