@mixin maxWidth($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

.wrapper {
  padding-bottom: 30px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  column-gap: 30px;
  padding-left: 15px;
  padding-right: 15px;

  @include maxWidth(640px) {
    flex-direction: column;
    column-gap: 0;
    row-gap: 30px;
  }
}

.column {
  width: 50%;

  @include maxWidth(640px) {
    width: 100%;
  }
}

.textarea {
  width: 100%;
  resize: vertical;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 12px;
}

.actions {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 32px;
  column-gap: 30px;
}

.parentForProgress,
.parentForEllipsis {
  border-radius: 4px;
}

.parentForProgress {
  background-color: black;
  height: 150px;
  display: flex;
  align-items: center;
}

.parentForEllipsis {
  outline: solid 1px #929090;
  padding: 0 10px;
}
