html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, * {
  font-family: sans-serif;
}

button {
  height: 34px;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 12px;
  border: solid 1px;
  border-color: #d4d4d4;

  &:hover {
    background-color: #ddd;
  }
}
