.progressBar {
  width: 100%;
  overflow: hidden;
  padding-bottom: 15px;
  padding-left: 2px;
}

.boat {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  margin-bottom: -6px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: radial-gradient(yellow, transparent);
  }
}

.progressValue {
  color: yellow;
  font-weight: 600;
}

.wave {
  height: 15px;
  background: url('../../assets/wave-svgrepo-com.svg') repeat center center;
  background-size: contain;
  margin-bottom: -2px;
}

.bar {
  position: relative;
  height: 15px;
}

.line,
.progress {
  height: 100%;
  background-size: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.line {
  width: 100%;
  background-color: black;
  background-image: linear-gradient(90deg, transparent 50%, gray 50%);
  z-index: 1;
}

.progress {
  background-color: red;
  background-image: linear-gradient(90deg, transparent 50%, orange 50%);
  z-index: 2;

  &::after {
    content: '';
    display: block;
    width: 2px;
    height: calc(100% + 6px);
    background-color: #fff;
    position: absolute;
    top: -3px;
    right: 0;
    box-shadow: 0 0 7px 3px yellow;
  }
}

